:root {
    --primary-color-1: #508;
    --primary-color-2: #80a;
}

h1, h2, h3, h4, h5, h6, a {
    color: transparent;
    background: linear-gradient(to bottom, var(--primary-color-1), var(--primary-color-2));
    background-clip: text;
    line-height: 1.5;
}

hr + .bio {
    margin-bottom: 25vw !important;
}